:root {
    box-sizing: border-box;
  }

  *,
  ::before,
  ::after {
    box-sizing: inherit;
  }

/* 
  Variables for fonts, sizes, and colours.
*/

$bodycolorGreen: #709b90;
$backgroundOrange: #cc6b5a;
$backgroundBrown: #5f4b44;

$marginSize: 0;
$emSizeLarge: 1.5em;

$fontStyle1: Helvetica;
$fontStyle2: Arial;
$fontFamily: sans-serif;

@mixin navLinks {
    display: block;
    padding: .5em 1em;
    background-color: $backgroundOrange;
    color: white;
    text-decoration: none;
}

@mixin buttonStyle {
    display: block;
    background-color: $backgroundOrange;
    color: white;
    padding: .5em 1em;
    text-decoration: none;
}

  body {
    background-color: $bodycolorGreen;
    font-family: $fontStyle1 $fontStyle2 $fontFamily;
  }

  .container {
    display: grid;
    grid-template-areas: "title title"
                         "nav   nav"
                         "main  aside1"
                         "main  aside2";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(4, auto);
    grid-gap: $emSizeLarge;
    max-width: 1080px;
    margin: $marginSize auto;
  }

  header {
    grid-area: title;
  }

  nav {
    grid-area: nav;
  }

  .main {
    grid-area: main;
  }

  .sidebar-top {
    grid-area: aside1;
  }

  .sidebar-bottom {
    grid-area: aside2;
  }

  .tile {
    padding: $emSizeLarge;
    background-color: #fff;
  }

  .tile > :first-child {
    margin-top: $marginSize;
  }

  .tile * + * {
    margin-top: $emSizeLarge;
  }

  .page-heading {
    margin: $marginSize;
  }

  .site-nav {
    display: flex;
    margin: $marginSize;
    padding: .5em;
    background-color: $backgroundBrown;
    list-style-type: none;
    border-radius: .2em;
  }

  .site-nav > li {
    margin-top: $marginSize;
  }

  .site-nav > li > a {
    @include navLinks;
  }

  .site-nav > li + li {
    margin-left: $emSizeLarge;
  }

  .site-nav > .nav-right {
    margin-left: auto;
  }

  .login-form h3 {
    margin: $marginSize;
    font-size: .9em;
    font-weight: bold;
    text-align: right;
    text-transform: uppercase;
  }

  .login-form input:not([type=checkbox]):not([type=radio]) {
    display: block;
    margin-top: $marginSize;
    width: 100%;
  }

  .login-form button {
    margin-top: 1em;
    border: 1px solid $backgroundOrange;
    background-color: white;
    padding: .5em 1em;
    cursor: pointer;
  }

  .centered {
    text-align: center;
  }

  .cost {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: .7;
  }

  .cost > span {
    margin-top: $marginSize;
  }

  .cost-currency {
    font-size: 2rem;
  }
  .cost-dollars {
    font-size: 4rem;
  }
  .cost-cents {
    font-size: $emSizeLarge;
    align-self: flex-start;
  }

  .cta-button {
    @include buttonStyle;
  }